---
import ButtonSend from "../components/ButtonSend.astro";
import InputText 
from "../components/ImputText.astro";
import RadioButtonGroup from "../components/RadioButtonGroup.astro";
import Select from "../components/Select.astro";
import FormLayout
from "../layouts/FormLayout.astro";




---
<FormLayout>
	<h2 slot="subtitulo">Formulario De Registro </h2>
	<InputText 
		etiqueta="Nombre Completo"
	    slot="caja-texto-nombre" 
	/>
	<InputText
		etiqueta="Apellido Completo"
		slot="caja-texto-apellido"
	/>
	<InputText
		etiqueta="Correo Electronico"
		slot="caja-texto-email"
	/>
	<RadioButtonGroup 
	     etiqueta="seleccione tipo de documento"
	   slot="grupo-radio"
	/>
	<Select
	    etiqueta="seleccione ciudad"
		slot="select-ciudades"
	/>
	<ButtonSend
	     etiqueta="Enviar"
		 slot="boton-envio"
	/>	 

</FromLayout>


