---
interface Props {
    etiqueta: string;
    
    }

    //crear una variable
    //para recibir la etiqueta
    //Astro.probs=los valores desde el control
    const { etiqueta } =Astro.props;
    
---

<label>{etiqueta}</label>
<div>
    <div id="cedula">
         <input 
            type="radio"
            name="rbg"
            id="radio1"
         />
         <strong>CC</strong>
    </div>

    <div>
        <div id="identidad">
        <input 
            type="radio"
             name="rbg"
            id="radio2"
        />
        <strong>TI</strong>
    </div> 

    <div>
        <div id="extrangeria">
        <input
        
            type="radio"
             name="rbg"
            id="radio3"             
        />
        <strong>CE</strong>
    </div>
<style> 
    #cedula{
    
        background-color: rgb(76, 203, 30);
        /*display:
        determina como una etiqueta 
        se comporta en cuanto a:display:
        Largo, ancho, ubicacion;*/
        display: inline;
    }

</style>

<style> 
    #identidad{
    
        background-color: rgb(30, 203, 122);
        display: inline;
    }

</style>

<style> 
    #extrangeria{
    
        background-color: rgb(69, 140, 43);
        display: inline;
    }

</style>