<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>formulario de registro</h1>
    <slot name="subtitulo"/>
    <slot name="caja-texto-nombre" />
    <br />
    <slot name="caja-texto-apellido" />
    <br>
    <slot name="caja-texto-email" />
    <br />
    <slot name="grupo-radio" />
    <br/>
    <slot name="select-ciudades" />
    <br/>
    <slot name="boton-envio"/>
</body>
</html>